.AnimalAdded{
    text-align: center;
  }
    
  button{
    background-color:#82ab8d; /* Green background */
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }